<h1>Create a new artist</h2>


<%= form_for :artpromo, url: artpromo_index_path(current_user.id) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
 
  <p>
    <%= f.submit "Create Artist" %>
  </p>
<% end %>